* {
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, sans-serif;
  background-color: #343a40;
}
.pokemon-list {
  margin-top: 80px;
}
.list-group-item {
  background-color: #364859;
  color: white;
}
